/* font-family: 'Chivo', sans-serif; */

* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

html {
    font-family: Chivo;
    cursor: default;
}

body {
    background-color: #121725;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    background-image: url('./res/img/image-host_desktop.jpg');
    background-position: right;
    background-repeat: no-repeat;
    width: 1275px;
    height: 640px;
    justify-content: space-between;
    align-items:flex-end;
}

h1 {
    color: #54E6AF;
    font-size: 52px;
    font-weight: 300;
    width: 665px;
    height: 124px;
}

h1 span {
    color: #FFFFFF;
    font-size: inherit;
}

p {
    width: 445px;
    height: 84px;
    line-height: 28px;
    font-size: 18px;
    color: #C2CBE5;

}

.emptyRegion {
    display: flex;
    align-items: flex-end;
    width: 723px;
    height: 509px;
    background-color: #121725;

}

.infoFocus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    width: 635px;
    height: 421px;
    background-color: #121725;
}

#podImage {
    position: absolute;
    align-self: flex-start;
}

#dotsOverlay {
    margin-bottom: -52px;
}


.emailContainer {
    display: flex;
    justify-content: space-between;
    background-color: #2C344B;
    border-radius: 28px;
    width: 427px;
    height: 56px;
}

#emailInput {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: auto;
}

#emailInput form {
    width: 100px;
    height: auto;
    opacity: 50%;
    margin-left: 32px;
    cursor: text;
}

#requestButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 46px;
    margin: 5px;
    background-color: #54E6AF;
    border-radius: 28px;
}

#requestButton:hover {
    color: #121725;
    background-color: #B3FFE2;
    cursor: pointer;

}

#requestButton p {
    color: #121725;
    font-size: 14px;
    font-weight: 700;
    width: 108px;
    height: 28px;
}

.partnerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 536px;
    height: 29px;
}

#inputAlert {
    display: none;
    position: absolute;
    margin: 8px 0 0 32px;
    font-size: 12px;
    font-weight: bold;
}

input {
    background-color: inherit;
    border: none;
    color: inherit;
    line-height: 28px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
}

@media only screen and (max-width: 1200px) and (min-width: 376px){
    main {
        background-image: url('./res/img/image-host_tablet.jpg');
        max-width: 1275px;
    }
}

@media only screen and (max-width: 375px){
    body {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: url('./res/img/image-host_mobile.jpg');
        background-position: top;
        max-width: 375px;
    }

    h1 {
        font-size:28px;
        text-align: center;
        width: inherit;
        height: fit-content;
        padding: 10px 0px;
    }

    p {
        width: 375px;
        height: 84px;
        line-height: 28px;
        font-size: 14px;
        color: #C2CBE5;
        text-align: center;
    }

    .emptyRegion {
        opacity: 1;
        width: 355px;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 0;
        margin: 10px;
        overflow: hidden;
    }
    .infoFocus {
        display: flex;
        flex-direction: column;
        width: inherit;
        height: fit-content;
        background-color: #121725;
        padding: 0;
        justify-content: center;
        align-content: center;      
    }

    #podImage {
        position: relative;
        margin-bottom: 250px;
        margin-left: 10px;

    }

    .emailContainer {
        width: inherit;
        margin: 10px;
    }

    #dotsOverlay {
        display: none;
    }

    .partnerContainer {
        position: relative;
        display: grid;
        justify-items: center;
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-content: space-between;
        width: inherit;
        height: auto;
        row-gap: 10px;
        padding-bottom: 10px;
    }

    #inputAlert {
        display: none;
        position: absolute;
        margin-top: -14px; 
        margin-left: -6px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
    }


}